# .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.slnx   # <--- this is the new VS 2022+ solution format that causes issues

# Visual Studio
.vs/
.vscode/

# Rider / JetBrains
.idea/

# Logs & temp
*.log
*.tmp

# OS
.DS_Store
Thumbs.db